bootstrap_servers = ["127.0.0.1:9092"]

topics = {
  "delivery.delivery_order.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_user.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_auth.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_store.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_payment.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_point.outbox" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.ORDER" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.USER" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PAYMENT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderCreated" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderStatusChanged" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentRequested" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderValidated" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderRejected" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentSucceeded" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentFailed" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentRefunded" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.StoreOrderAccepted" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.StoreOrderRejected" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PointDeductionRequested" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PointDeducted" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PointDeductionFailed" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "delivery.delivery_auth.outbox.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.USER.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderCreated.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderStatusChanged.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentRequested.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderValidated.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.OrderRejected.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentSucceeded.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentFailed.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PaymentRefunded.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.StoreOrderAccepted.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.StoreOrderRejected.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }

  "outbox.event.PointDeductionRequested.DLT" = {
    partitions         = 1
    replication_factor = 1
    config             = {}
  }
}
